#################################
# Maven
#################################

target/
dependency-reduced-pom.xml

#################################
# Java
#################################

*.class
*.log
*.jar
*.war
*.ear

#################################
# IDE - IntelliJ
#################################

.idea/
*.iml

#################################
# IDE - VS Code
#################################

.vscode/

#################################
# Eclipse
#################################

.project
.classpath
.settings/

#################################
# OS Files
#################################

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

#################################
# Logs
#################################

logs/
*.out

#################################
# Temporary
#################################

*.tmp
*.swp